/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

@import url(https://fonts.googleapis.com/css?family=Catamaran);

.markdown-preview.markdown-preview {
    .caso_estudio {
        background-color: rgb(245, 245, 245);
        border: 2px solid rgb(150, 150, 150);
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: 0 0 7px 0 rgba(078, 120, 158, 0.1);
    }

    .ejercicio {
        background-color: rgb(245, 250, 245);
        border: 2px solid rgb(150, 155, 150);
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: 0 0 7px 0 rgba(078, 120, 158, 0.1);
    }

    .contenedor {
        display: flex;
        justify-content: center;
        margin: 30px auto 30px auto;
    }

    .fondo {
        background:
            url(https://programacioniesbalmis.github.io/Imagenes/BannersMoodle/banner.png);
        background-size: cover;
        width: 75%;
        height: 160px;
        border-radius: 10px;
        position: relative;
    }

    .cita {
        font-family: Arial;
        font-style: italic;
        font-weight: 600;
        text-align: justify;
        line-height: 1.5rem;
        opacity: 0.6;
        color: white;
        padding: 5rem;
        position: relative;
        top: 50%;
        left: 50%;
        font-size: 1.3rem;
        transform: translate(-50%, -50%);
    }

    .abre_comilla {
        font-family: "Catamaran";
        font-weight: 600;
        color: white;
        padding-left: 30px;
        position: absolute;
        font-size: 6rem;
        transform: translate(0%, -15%);
    }

    .cierra_comilla {
        font-family: "Catamaran";
        font-weight: 600;
        color: white;
        padding-right: 30px;
        right: 0%;
        position: absolute;
        font-size: 6rem;
        transform: translate(0%, 55%);
    }

    .autor {
        font-family: Arial;
        color: white;
        margin: 0px;
        padding-left: 30px;
        position: absolute;
        top: 83%;
        font-size: 1rem;
    }

    .flotante {
        display: flex; 
        justify-content: space-between; 
        margin-top: 15px;  
        margin-bottom: 15px;
        @media (max-width: 550px) { flex-direction: column; }
        @media (min-width: 550px) { flex-direction: row; }
    }

    .flotante_izq {
        margin-right: 15px;
        @media (max-width: 550px) { width: 100%;}
        @media (min-width: 550px) { width: auto;}
    }

    .flotante_der {
        @media (max-width: 550px) { width: 100%;}
        @media (min-width: 550px) { width: auto;}
    }    
}